<!--Navbar-->
<nav class="navbar navbar-expand-lg navbar-dark primary-color">

    <!-- Navbar brand -->
    <a class="navbar-brand" href="#">Site Title</a>

    <!-- Collapse button -->

    <!-- Collapsible content -->

      <!-- Links -->
      <ul class="navbar-nav mr-auto">
        <li class="nav-item"> <a class="nav-link" routerLink="/">Home</a></li>
        <li class="nav-item"> <a class="nav-link" routerLink="/foods">Explore Food</a></li>
        <li class="nav-item"> <a class="nav-link" routerLink="/additives">Explore Food Additives</a></li>
        <li class="nav-item"> <a class="nav-link" routerLink="/search">Search</a></li>
        <!-- Dropdown -->

      </ul>
      <!-- Links -->

      <form class="form-inline">
        <div class="md-form my-0">
          <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
        </div>
      </form>
    <!-- Collapsible content -->

  </nav>
  <!--/.Navbar-->


